.App {
  text-align: center;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-carousel {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.post-hero-img {
  /* position: relative; */
  width: 100dvw;
  height: 100%;
}

.post-hero {
  position: relative;
  width: 100dvw;
  height: 80dvh;
  /* overflow: hidden; */
  /* background-color: rgb(23, 23, 23); */
}
.post-hero-content {
  position: relative;
  /* width: 100%;
  max-width: 90%;
  height: 40%; */
  overflow: hidden;
  background-color: rgb(27, 27, 27);
  position: absolute;
  bottom: -10%;
  /* padding: 1.5rem 2rem; */
}
.post-container {
  position: relative;
  width: 100%;
  height: 100%;
}
* {
  box-sizing: border-box;
  scrollbar-width: none;
}

.block-image {
  background-image: url("/public/background.png");
   /* url("https://lh3.googleusercontent.com/fL4qWNIEUvC-VK4kabRPwh6hIiYN1AM8LkLOUanfKWdr8XU6nj8iWyBjybRW2_ja-i23N2IwfCY3_kvMeEOhbKWRlshDOuz-rYsVSBLwxB2VvJtZyjid28pL1s2K6egVnG3OSwGP9ys9hdoMbRtucII"); */
  background-color: #cccccc;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* border-radius: 16px; */
}
.block-image2 {
  background-image:
   url("https://assets.lummi.ai/assets/Qmb1dEehAVNYZRmbLixx2tvH5ZeBLLnStv8c9SVBXhLHSY?auto=format&w=1500");
  /* background-color: #cccccc; */
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.truncate-text3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  /* white-space: nowrap; */
  overflow: hidden;
  text-overflow: ellipsis;
}

.truncate-text2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  /* white-space: nowrap; */
  overflow: hidden;
  text-overflow: ellipsis;
  
}


.rich-text-content h3 {
  font-size: 1.5em;
}

.rich-text-content h4 {
  font-size: 1.25em;
}

.rich-text-content ul, .rich-text-content ol {
  margin-left: 1.5em;
  margin-bottom: 1em;
  list-style-type: disc;
}

.rich-text-content li {
  margin-bottom: 0.4em;
}

/* chip styling for catregory: https */
.active-chip {
  background-color: #ff4b14d1; /* Active background color */
  color: white; /* Active text color */
}

.inactive-chip {
  background-color: transparent; /* Inactive background */
  color: black; /* Inactive text color */
}

.hover-chip:hover {
  border: 2px solid #9c3212d1; /* Hover border color */
}

/* glass effect */
.glass {
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba(202, 202, 202, 0.37);
  backdrop-filter: blur( 8px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}